.header {
    background-color: darkcyan;
    width: 100vw;
    height: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.page-title {
    margin-right: 1.1rem;
    margin-left: 0.7rem;
}

.osm-main-icon, .osm-stats-icon, .osm-rules-icon, .osm-settings-icon {
    background-color: aqua;
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    margin: 0.4rem;
    padding :0.2rem;
    border-radius: 3px;
    box-sizing: border-box;
    float: right;
}

.osm-main-icon {
    float: left;
}

.osm-rules-icon {
    margin-left: auto;
}

.osm-main-icon:hover, .osm-stats-icon:hover, .osm-rules-icon:hover, .osm-settings-icon:hover {
    background-color: green;
}

.osm-main, .osm-stats, .osm-settings {
    background-color: aqua;
    width: 200px;
    height: 100vh;
    padding-left: 1rem;
    position: fixed;
    top: 3.5rem;
    right: -200px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    transition: 0.3s ease;
}

.osm-main.active, .osm-stats.active, .osm-settings.active {
    right: 0;
}

.osm-main {
    padding-top: 1rem;
    left: -200px;
}

.osm-main.active {
    left: 0px;
}

.osm-rules {
    background-color: aqua;
    margin: auto;
    width: 30%;
    min-width: 21rem;
    height: auto;
    max-height: 80vh;
    margin: auto;
    padding: 1rem;
    border-radius: 3px;
    opacity: 0;
    box-sizing: border-box;
    position: relative;
    top: 40vh;
    transition: 0.3s ease;
}


@media only screen and (max-width: 1024px) {
    .osm-rules {
        width: 50%
    }
}

.osm-rules.active {
    opacity: 100;
    top: 20vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.theme-option {
    display: block;
}